<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcom to my page</title>
</head>
<body>
    <div style="width: 1586px; height: 185px; position: relative">
  <div style="width: 136px; height: 177px; left: 0px; top: 8px; position: absolute; background: #F2FCE4; box-shadow: 20px 20px 40px rgba(24, 24, 24, 0.07); border-radius: 10px; border: 1px #81B13D solid"></div>
  <img style="width: 100px; height: 100px; left: 8px; top: 0px; position: absolute" src="./image/hambergur.png" />
  <div style="left: 23.50px; top: 128.59px; position: absolute; text-align: center; color: #253D4E; font-size: 16px; font-family: Quicksand; font-weight: 700; line-height: 20px; word-wrap: break-word">Cake & Milk</div>
  <div style="left: 45px; top: 149.55px; position: absolute; text-align: center; color: #B6B6B6; font-size: 12px; font-family: Lato; font-weight: 400; line-height: 18px; word-wrap: break-word">14 items</div>
  <div style="width: 137px; height: 177px; left: 160px; top: 8px; position: absolute; background: #FFFCEB; border-radius: 10px"></div>
  <img style="width: 120px; height: 120px; left: 168px; top: 3px; position: absolute" src="./image/peach.png" />
  <div style="left: 205.77px; top: 128.59px; position: absolute; text-align: center; color: #253D4E; font-size: 16px; font-family: Quicksand; font-weight: 700; line-height: 20px; word-wrap: break-word">Peach</div>
  <div style="left: 206.27px; top: 149.55px; position: absolute; text-align: center; color: #B6B6B6; font-size: 12px; font-family: Lato; font-weight: 400; line-height: 18px; word-wrap: break-word">17 items</div>
  <div style="width: 137px; height: 177px; left: 321px; top: 8px; position: absolute; background: #ECFFEC; border-radius: 10px"></div>
  <img style="width: 120px; height: 120px; left: 327px; top: 6px; position: absolute" src="./image/kiwi.png" />
  <div style="left: 347.21px; top: 128.59px; position: absolute; text-align: center; color: #253D4E; font-size: 16px; font-family: Quicksand; font-weight: 700; line-height: 20px; word-wrap: break-word">Oganic Kiwi</div>
  <div style="left: 368.71px; top: 149.55px; position: absolute; text-align: center; color: #B6B6B6; font-size: 12px; font-family: Lato; font-weight: 400; line-height: 18px; word-wrap: break-word">21 items</div>
  <div style="width: 137px; height: 177px; left: 482px; top: 8px; position: absolute; background: #FEEFEA; border-radius: 10px"></div>
  <img style="width: 120px; height: 120px; left: 491px; top: 6px; position: absolute" src="./image/apple.png" />
  <div style="left: 517px; top: 128.59px; position: absolute; text-align: center; color: #253D4E; font-size: 16px; font-family: Quicksand; font-weight: 700; line-height: 20px; word-wrap: break-word">Red Apple</div>
  <div style="left: 533.50px; top: 149.55px; position: absolute; text-align: center; color: #B6B6B6; font-size: 12px; font-family: Lato; font-weight: 400; line-height: 18px; word-wrap: break-word">68 items</div>
  <div style="width: 137px; height: 177px; left: 643px; top: 8px; position: absolute; background: #FFF3EB; border-radius: 10px"></div>
  <img style="width: 113px; height: 113px; left: 660px; top: 10px; position: absolute" src="./image/snack.png" />
  <div style="left: 691px; top: 128.59px; position: absolute; text-align: center; color: #253D4E; font-size: 16px; font-family: Quicksand; font-weight: 700; line-height: 20px; word-wrap: break-word">Snack</div>
  <div style="left: 691.50px; top: 149.55px; position: absolute; text-align: center; color: #B6B6B6; font-size: 12px; font-family: Lato; font-weight: 400; line-height: 18px; word-wrap: break-word">34 items</div>
  <div style="width: 137px; height: 177px; left: 804px; top: 8px; position: absolute; background: #FFF3FF; border-radius: 10px"></div>
  <img style="width: 120px; height: 120px; left: 810px; top: 6px; position: absolute" src="./image/black_plum.png" />
  <div style="left: 826px; top: 128.59px; position: absolute; text-align: center; color: #253D4E; font-size: 16px; font-family: Quicksand; font-weight: 700; line-height: 20px; word-wrap: break-word">Black plum </div>
  <div style="left: 846.50px; top: 149.55px; position: absolute; text-align: center; color: #B6B6B6; font-size: 12px; font-family: Lato; font-weight: 400; line-height: 18px; word-wrap: break-word">25 items</div>
  <div style="width: 137px; height: 177px; left: 965px; top: 8px; position: absolute; background: #F2FCE4; border-radius: 10px"></div>
  <img style="width: 107.77px; height: 107.77px; left: 981.09px; top: 6px; position: absolute" src="./image/vegatable.png" />
  <div style="left: 989.91px; top: 128.59px; position: absolute; text-align: center; color: #253D4E; font-size: 16px; font-family: Quicksand; font-weight: 700; line-height: 20px; word-wrap: break-word">Vegetables</div>
  <div style="left: 1011.41px; top: 149.55px; position: absolute; text-align: center; color: #B6B6B6; font-size: 12px; font-family: Lato; font-weight: 400; line-height: 18px; word-wrap: break-word">65 items</div>
  <div style="width: 137px; height: 177px; left: 1126px; top: 8px; position: absolute; background: #FFFCEB; border-radius: 10px"></div>
  <img style="width: 92px; height: 92px; left: 1149px; top: 15px; position: absolute" src="./image/headphone.png" />
  <div style="left: 1149.59px; top: 128.59px; position: absolute; text-align: center; color: #253D4E; font-size: 16px; font-family: Quicksand; font-weight: 700; line-height: 20px; word-wrap: break-word">Headphone</div>
  <div style="left: 1172.09px; top: 149.55px; position: absolute; text-align: center; color: #B6B6B6; font-size: 12px; font-family: Lato; font-weight: 400; line-height: 18px; word-wrap: break-word">33 items</div>
  <div style="width: 137px; height: 177px; left: 1287px; top: 8px; position: absolute; background: #F2FCE4; border-radius: 10px"></div>
  <img style="width: 120px; height: 120px; left: 1296px; top: 0px; position: absolute" src="./image/cake.png" />
  <div style="left: 1312.02px; top: 128.59px; position: absolute; text-align: center; color: #253D4E; font-size: 16px; font-family: Quicksand; font-weight: 700; line-height: 20px; word-wrap: break-word">Cake & Milk</div>
  <div style="left: 1333.52px; top: 149.55px; position: absolute; text-align: center; color: #B6B6B6; font-size: 12px; font-family: Lato; font-weight: 400; line-height: 18px; word-wrap: break-word">54 items</div>
  <div style="width: 136px; height: 177px; left: 1450px; top: 8px; position: absolute; background: #FFF3FF; border-radius: 10px"></div>
  <img style="width: 120px; height: 120px; left: 1458px; top: 10px; position: absolute" src="./image/orange.png" />
  <div style="left: 1488.50px; top: 128.59px; position: absolute; text-align: center; color: #253D4E; font-size: 16px; font-family: Quicksand; font-weight: 700; line-height: 20px; word-wrap: break-word">Orange</div>
  <div style="left: 1495px; top: 149.55px; position: absolute; text-align: center; color: #B6B6B6; font-size: 12px; font-family: Lato; font-weight: 400; line-height: 18px; word-wrap: break-word">63 items</div>
</div>


</body>
</html>